{% if breadCrumbsList %}
    <ul class="c-breadcrumbs">
        {% for item in breadCrumbsList %}
            <li class="c-breadcrumbs__item">
                {% if item.path %}
                    <a href="{{ item.path | url }}" >{{ item.name }}</a>
                {% else %}
                    {{ title }}
                {% endif %}
            </li>
        {% endfor %}

    </ul>
{% endif %}