<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ seo.pageTitle }}</title>
    <meta name="description" content="{{ seo.description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ seo.pageTitle }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ seo.canonicalUrl }}">
    <meta property="og:image" content="{{ seo.ogImageUrl }}">
    <meta name="twitter:card" content="summary_large_image">
    {% if site.noIndex %}
        <meta name="robots" content="noindex">
    {% endif %}
    {% if site.gaMeasurementId %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{site.gaMeasurementId}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', '{{site.gaMeasurementId}}');
        </script>
    {% endif %}
    <link rel="canonical" href="{{ seo.canonicalUrl }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <script src="{{'/js/main.js' | url }}" defer></script>
    {{ seo.pageTitle | log  }}
</head>