@use '../foundation/variables';
@use 'sass:map';
@use 'sass:math';

/*********************************************************


 Header
 Gnavi


**********************************************************/
$fixed_zindex: 100;
.l-header {
  height: variables.$header_height;

  @media #{map.get(variables.$max, md)} {
    height: variables.$header_height_max-md;
  }
}
.l-header__inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: variables.$c_base;
  z-index: $fixed_zindex;
  height: variables.$header_height;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid variables.$c_line_gray;
  @media #{map.get(variables.$max, md)} {
    height: variables.$header_height_max-md;
    padding-right: 0;
  }
}
.l-header-site-name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  position: relative;
  @media #{map.get(variables.$max, md)} {
    padding-left: 1em;
    padding-right: 1em;
  }

  a {
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    max-width: 100%;
    @media #{map.get(variables.$max, md)} {
      width: 100px;
    }
  }
}

.l-header-nav {
  @media #{map.get(variables.$min, md)} {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    margin-left: auto;
  }
  @media #{map.get(variables.$max, md)} {
    position: fixed;
    top: variables.$header_height_max-md;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    transition-property: opacity, transform, visibility;
    transition-duration: 0.4s;
    visibility: hidden;
    opacity: 0;
    background-color: variables.$c_text;
    color: #fff;
    @at-root .is-drawer-shown & {
      visibility: visible;
      opacity: 1;
    }
  }
}
.l-header-nav__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  border-bottom: 1px solid transparent;
  &.is-current {
    border-bottom-color: currentColor;
  }
  @media #{map.get(variables.$max, md)} {
    padding: 1em 0;
    border-bottom: 1px solid rgba(#fff, 0.1);
  }
}

/****************************************

         Drawer Button

*****************************************/

.l-header__drawer-button {
  $size: variables.$header_height_max-md;

  @media #{map.get(variables.$min, md)} {
    display: none;
  }
  @media #{map.get(variables.$max, md)} {
    border-left: 1px solid variables.$c_line_gray;
    width: $size;
    margin-left: auto;
    z-index: 12;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    color: variables.$c_text;
    transition-property: background-color;
    transition-duration: 0.3s;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  @at-root .is-drawer-shown & {
    background-color: variables.$c_text;
    color: variables.$c_base;
  }
}

.l-header__drawer-button__icon {
  position: relative;
  width: 20px;
  height: 12px;
  transition-property: height;
  transition-duration: 0.3s;
  @at-root .is-drawer-shown & {
    height: 0px;
  }
  i,
  &:after,
  &:before {
    content: '';
    display: block;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -1px;
    border-top: 2px solid;
    transform-origin: 50% 50% 0;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
  }
  i {
    top: 50%;
    @at-root .is-drawer-shown & {
      transform: scaleX(0);
    }
  }
  &:before {
    top: 0;
    @at-root .is-drawer-shown & {
      transition-delay: 0.3s;
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }
  &:after {
    top: 100%;
    @at-root .is-drawer-shown & {
      transition-delay: 0.3s;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }
}
