@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Page


**********************************************************/
/****************************************

         Header

*****************************************/
.l-page-header {
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: variables.$c_base_gray;
  @media #{map.get(variables.$max, md)} {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.l-page-header__title {
  font-size: 2.5rem;
  @media #{map.get(variables.$max, md)} {
  }
}

/****************************************

         Content

*****************************************/

.l-page-content {
  padding-bottom: 6em;
  padding-top: 3em;
  min-height: 400px;
  @media #{map.get(variables.$max, md)} {
    padding-bottom: 5em;
  }
}
