@use 'sass:map';
@use '../../foundation/variables';

/*********************************************************



 Top page



**********************************************************/
/****************************************

         Hero

*****************************************/
.p-top {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
